@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1 {
    /* be progressive use only font */
    font: 200 'SEGA LOGO FONT', monospace;
    /* always use reserve font */
    color: #4c63ad;
}